/* VIDEO */
#customSearch div {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#custom-top-panel {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

#custom-top-panel div {
  display: inline-block;
}

#edit-gestionvideos-submit-videos {
  display: inline-block;
}

#custom-bottom-panel div {
  display: inline-block;
}

#custom-bottom-panel div ul {
  list-style-type: none;
}

/*  UPLOAD */
#tabImport label {
  font-weight: normal;
}
